body{
    padding: 0;
    margin: 0;
}
#mainBlock{
    width: 960px;
    background-color: #9da0a4;
    margin: 0 auto;
    font-size: 1.3em;
}
#header{
    margin-top: 40px;
    text-align: center;
    height: 170px;
    width: 100%;
}
.question{
    width: 100%;
    min-height: 250px;
    margin-left: 20px;
    background-color: #e0ebeb;
    font-size: 1.3em;
}




#authorize input{
    width: 300px;
    height:40px;
    font-size: 1.3em;
    margin: 5px;
    text-align: center;
}


#question-div input{
    font-size: 1.2em;
    margin: 20px;
    text-align: center;
}

input[name=email]:required:invalid{
    border:1px solid red;
}
#result{
    margin-left: 30px;
    margin-top: 10px;
}